  <h2></h2>
  <h2></h2>
  <h2></h2>
  <h1>Your Dashboard:</h1>

<% @bookings.each do |booking| %>
  <div class="booking-card">
    <div class="top-card">
      <h3>Your Booking for "<strong><%=booking.boat.name%></strong>" has bee confirmed!</h3>
      <% number_of_days = (booking.return_date.to_date - booking.pickup_date.to_date).to_i %>
      <p class="confirmation">Booked for<em><%=number_of_days%></em> days with<em><%=booking.number_of_guests%></em> guests. </p>
      <p class="booking-info"><strong>Your Booking Info</strong></p>
      <div class="middle-card">
        <div class="boat-info">
          <p>Booking Reference Number: <%= booking.id %></p>
          <p>Pickup Location: <%= booking.boat.location %></p>
          <h4> </h4>
          <div class="dates">
            <p>Pickup: <strong><%= booking.pickup_date.to_date.strftime("%b %d, %Y") %></strong></p>
            <p>Return: <strong><%= booking.return_date.to_date.strftime("%b %d, %Y")%></strong></p>
          </div>
        </div>
        <div class="prices">
          <p>Price per day: <em><%= booking.boat.price %>€</em></p>
          <% total_price = number_of_days * booking.boat.price %>
          <p class=TP><strong>Total Price: <%= total_price%> $</strong></p>
        </div>
      </div>
    </div>

    <div class="bottom-card">
      <div class="details">
        <p><strong>Quick Summary: </strong></p>
        <div class="details-info">
          <div class="details_">
            <p>Capacity: <%= booking.boat.capacity %> pers</p>
            <p>Sleeps: <%= booking.boat.sleep_number %> pers</p>
            <p>Rooms: <%= booking.boat.room_number %></p>
          </div>
          <div class="details_">
            <p>Bathrooms: <%= booking.boat.bathroom_number %></p>
            <p>Decks: <%= booking.boat.deck_number%></p>
            <p>Length: <%= booking.boat.length %>m </p>
          </div>
          <div class="details_">
            <p>Gallons per hour: <%= booking.boat.gallons_per_hour%></p>
          </div>
        </div>
      </div>

      </div>
      <ul class="action_list_">
        <li><%= link_to "Remove Booking", dashboard_path(booking),
          method: :delete,
          data: { confirm: "Are you sure you want to delete this Booking?" },
          class: "btn" %></li>
        <li><%= link_to "Edit Booking", edit_boat_booking_path(booking.boat, booking), class: "btn"%></li>
        <li><%= link_to "View Boat Details", boat_path(booking.boat), class: "btn"%></li>
      </ul>
    </div>
  </div>
<% end %>

