<div id="edit-booking-form">
  <h2>Update Booking for: <%= @booking.boat.name%></h2>
  <%= simple_form_for([@booking.boat, @booking]) do |f| %>
  <div class="form-group">
    <%= f.input :pickup_date, as: :string, label: "Start", input_html: { class: "datepicker", value: Time.now.strftime('%m/%d/%Y') } %>
    <%= f.input :return_date, as: :string, label: "End", input_html: { class: "datepicker", value: Time.now.strftime('%m/%d/%Y') } %>

    <div class="form-group">
      <%= f.label :number_of_guests%>
      <%= f.text_field :number_of_guests, class: 'form-control'%>
    </div>

    <p>Capacity: <%= @booking.boat.capacity %> </p>
    <p>Pickup Location: <%= @booking.boat.location %></p>
    <p id="ppd">Price per Day: <span id="pricee"><%= @booking.boat.price %></span> $</p>
    <p class="total">Total price: <span id="days_calculator"></span> days * <span id="pricee"><%=@booking.boat.price%> $</span> = <span id="totalPrice"></span> $</p>

    <div class=bb>
      <%= f.button :submit, "Updating Booking", id: "booking_btn"%>
    </div>
    <% end %>
  </div>
</div>
