<!--
    <h1><#%= @boat.name %></h1>
    <h2>Your Booking:</h2>
    <p>Timing: <%= booking.pickup_date %> - <%= booking.return_date %> </p>
    <p>Number of Guests: <%= booking.number_of_guests %> </p>


    <h2>Details: </h2>
      <ul>
        <p>Location: <%= @boat.location %></p>
        <p>Capacity up to: <%= @boat.capacity %> pers</p>
        <p>Sleeps: <%= @boat.sleep_number %> pers</p>
        <p>Rooms: <%= @boat.room_number %></p>
        <p>Bathrooms: <%= @boat.bathroom_number %></p>
        <p>Decks: <%= @boat.deck_number%></p>
        <p>Gallons/hour: <%= @boat.gallons_per_hour%></p>
        <p>Price per day: <%= @boat.price %>€</p>
        <p>Avarage Rating: <%= @boat.avarage_rating %> stars</p>
        <p>Length: <%= @boat.length %>m </p>
        <p>Description: <%= @boat.description%></p>
      </ul>

      <p><%#= link_to "Back",  boats_path, class: 'btn'%></p>
    </div>
    </div>
 -->
