<div id="landing-page" class="banner">
<h1>Float Your Boat</h1>




<div class="container-form">
  <div class="row justify-content-center">
    <div class="col-4 white-box-container">


<%= simple_form_for :search, url: boats_path do |f| %>
<%= f.input :location, placeholder: 'Where to float your boat?' %>
<%= f.input :boat_type, collection: ['Sail Boat', 'Yacht', 'Speed Boat', 'Kayak', 'House Boat', 'Canoe'] %>
 <%= f.input :sleep_number, :label => "People", placeholder: 'How many people?', collection: (1..20) %>
 <div class="row">
   <div class="flexbox">
    <div class='flex-setting'>
 <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker flex-setting"} %>
 </div>
 <div class='flex-setting'>
  <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker flex-setting"} %>
  </div>
  </div>
  </div>
    <%= link_to 'Search', boats_path, class: "btn btn-primary" %>
<%= f.submit 'Search', class: "button-home", id: "hide" %>
   <% end %>

         </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>

