<div id="landing-page" class="banner">
  <div class="box-landing">
  <div class="header-landing">
  <p>Float Your Boat</p>
  </div>


<div class="container-form">
  <div class="row justify-content-center">
    <div class="white-box-container">

  <%= form_tag boats_path, method: :get do %>
  <div class="form-group">
<%= text_field_tag :location, params[:location], class: "form-control", placeholder: 'Where to float your boat?' %>
</div>
  <div class="form-group">
<%= select_tag(:boat_type, options_for_select(["Sail Boat", "Yacht", "Speed Boat", "Kayak", "House Boat"]), prompt: 'Boat Type', class: "form-control") %>
</div>
  <div class="form-group">
 <%= text_field_tag :capacity, params[:capacity], class: "form-control", placeholder: 'How many people?' %>
 </div>

<%= submit_tag 'Get your boat', class: "home-button" %>
   <% end %>

         </div>
      </div>
    </div>
    <br>
     <div><%= link_to "See all Boats", boats_path, class: "home-link"%></div>

  </div>

</div>




