<div class="form_container">
  <h1> Edit Boat: </h1>

  <%= simple_form_for(@boat) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :boat_type %>
    <%= f.text_field :boat_type, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price%>
    <%= f.text_field :price, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :capacity%>
    <%= f.text_field :capacity, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :room_number%>
    <%= f.text_field :room_number, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :sleep_number%>
    <%= f.text_field :sleep_number, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :bathroom_number%>
    <%= f.text_field :bathroom_number, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :deck_number%>
    <%= f.text_field :deck_number, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :gallons_per_hour%>
    <%= f.text_field :gallons_per_hour, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

    <%= f.submit %>
  <% end %>
  <p><%= link_to "Back",  boats_path, class: 'btn'%></p>
</div>
