<h2>Available Boats:</h2>

<% @boats.each do |boat| %>
<div class='boat-card'>
  <h3><%=boat.name%></h3>
  <p>Location: <%=boat.location%></p>
  <p>Price per day: <%=boat.price%> $</p>
  <p>Capacity: <%=boat.capacity%> • Length: <%=boat.length%>m • Rooms: <%=boat.room_number%> • Sleeps: <%=boat.sleep_number%> • Bathrooms: <%=boat.bathroom_number%> • Decks: <%=boat.deck_number%> • Gallons per Hour: <%=boat.gallons_per_hour%> </p>
  <p>Owner: <%=boat.user.name%></p>
</div>
<% end %>

<%= link_to "Add Boat", new_boat_path, class: "btn"%>

