<div class="index-container">
  <div class="boat_index">
    <div class="not-header">
      <div class="card_">
      <% @boats.each do |boat| %>
      <%= link_to boat_path(boat) do %>
      <div class='boat-card'>
        <% unless boat.photo.nil? %>
          <div class="photo"><%= cl_image_tag boat.photo, height: 225, width: 180, crop: :fill %></div>
        <% end %>
        <div class='boat'>
          <div class='boat-info'>
            <div class="header-boat">
              <h3><%=boat.name%></h3>
              <div class="avatar_">
                <%= cl_image_tag boat.user.photo,
                  width: 40, height: 40, gravity: :face, class: "avatar dropdown-toggle",id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <p><%=boat.user.name%></p>
              </div>
            </div>
            <div class="sum">
              <p><i class="fas fa-ship"></i> <%=boat.boat_type%></p>
              <p><i class="fas fa-map-marker-alt"></i> <%=boat.location%></p>
              <p><i class="fas fa-dollar-sign"></i> <%=boat.price%></p>
              <p><i class="fas fa-user-friends"></i> <%=boat.capacity%></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  <div class="map">
  <div
  id="map"
  style="width: 100%"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
  </div>
</div>
