<div class="index-container">
  <div class="boat_index">
    <div class="header">
      <div><h2>Available Boats:</h2></div>



        <div><%= link_to "Add Boat", new_boat_path, class: "btn"%></div>
        </div>

    <% @boats.each do |boat| %>
      <div class='boat-card'>
        <% unless boat.photo.nil? %>
          <div class="photo"><%= cl_image_tag boat.photo, height: 270, width: 250, crop: :fill %></div>
        <% end %>
        <div class='boat'>
          <div class='boat-info'>
            <div class="header-boat">
              <h3><%=boat.name%></h3>
              <div>
                <%= cl_image_tag boat.user.photo,
                  width: 40, height: 40, gravity: :face, class: "avatar dropdown-toggle",id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <p><%=boat.user.name%></p>
              </div>
            </div>
            <div class="sum">
              <p><i class="fas fa-ship"></i> <%=boat.boat_type%></p>
              <p><i class="fas fa-map-marker-alt"></i> <%=boat.location%></p>
              <p><i class="fas fa-dollar-sign"></i> <%=boat.price%></p>
            </div>
          </div>

          <ul class="action_list">
            <li><%= link_to "More info", boat_path(boat), class: "btn"%></li>

            <% if policy(boat).edit? %>
              <li><%= link_to "Edit", edit_boat_path(boat), class: "btn"%></li>
            <% end %>

            <% if policy(boat).destroy? %>
              <li><%= link_to "Remove", boat_path(boat),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this Boat?" },
              class: "btn" %></li>
            <% end %>


          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="map">
  <div
  id="map"
  style="width: 100%"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  </div>
</div>
