<div class="index-container">
  <div class="boat_index">
    <div class="header">
      <div><h2>Available Boats:</h2></div>
      <div><%= link_to "Add Boat", new_boat_path, class: "btn"%></div>
    </div>

    <% @boats.each do |boat| %>
      <div class='boat-card'>
        <% unless boat.photo.nil? %>
          <div class="photo"><%= cl_image_tag boat.photo, height: 270, width: 250, crop: :fill %></div>
        <% end %>
        <div class='boat'>
          <div class='boat-info'>
            <div class="header"><h3><%=boat.name%></h3> <p>Owner: <%=boat.user.name%></p></div>
            <p>Type: <strong><%=boat.boat_type%></strong></p>
            <p>Pickup Location: <strong><%=boat.location%></strong></p>
            <p>Price per day: <strong><%=boat.price%> $</strong></p>
            <!-- <div class="info"><p>Capacity: <%=boat.capacity%> • Length: <%=boat.length%>m • Rooms: <%=boat.room_number%> • Sleeps: <%=boat.sleep_number%> • Bathrooms: <%=boat.bathroom_number%> • Decks: <%=boat.deck_number%> • Gallons per Hour: <%=boat.gallons_per_hour%> </p></div> -->
          </div>
          <ul class="action_list">
            <li><%= link_to "More info", boat_path(boat), class: "btn"%></li>
            <li><%= link_to "Edit", edit_boat_path(boat), class: "btn"%></li>
            <li><%= link_to "Remove", boat_path(boat),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn" %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="map">
  <div
  id="map"
  style="width: 100%"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  </div>
</div>
