<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8">
     <div class="boat-container">


<div class="boat-container-header">
  <div class="main-box">
      <div class="main-info">
        <h1><%= @boat.name %></h1><br>
        <p>Location: <strong><%= @boat.location %></strong></p><br>
        <p>Description: <strong><%= @boat.description%></strong></p>
      </div>

      <div class="owner-pic">
        <%= cl_image_tag @boat.user.photo,
      width: 40, height: 40, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <p><%=@boat.user.name%>
      </div>
    </div>

        <div class="boat-photo">
          <% unless @boat.photo.nil? %>
          <div class="photo"><%= cl_image_tag @boat.photo, height: 250, width: 230, crop: :fill %></div>
          <% end %>
        </div>
    </div>


        <div class="details-box">
           <p><strong>Details: </strong></p>
        <div class="details-infos" class="justify-content-center">
          <div class="details_">
            <p>Capacity up to: <strong><%= @boat.capacity %> pers</strong></p>
            <p>Sleeps: <strong><%= @boat.sleep_number %> pers</strong></p>
            <p>Rooms: <strong><%= @boat.room_number %></strong></p>
          </div>
          <div class="details_">
            <p>Bathrooms: <strong><%= @boat.bathroom_number %></strong></p>
            <p>Decks: <strong><%= @boat.deck_number%></strong></p>
            <p>Gallons/hour: <strong><%= @boat.gallons_per_hour%></strong></p>
          </div>
          <div class="details_">
            <p>Price per day: <strong><%= @boat.price %>€</strong></p>
            <p>Avarage Rating: <strong><%= @boat.avarage_rating %> stars</strong></p>
            <p>Length: <strong><%= @boat.length %>m </strong></p>
           </div>
        </div>
          <p><%= link_to "Back",  boats_path, class: 'btn btn-secondary'%></p>
      </div>
    </div>
  </div>



  <div class="col-12 col-lg-4">
    <div id="booking-form">

      <h2>Book <%= @boat.name%></h2>
      <%= simple_form_for([@boat, @booking]) do |f| %>
      <div class="form-group">
        <%= f.input :pickup_date, as: :string, label: "Start", input_html: { class: "datepicker", value: Time.now.strftime('%m/%d/%Y') } %>
        <%= f.input :return_date, as: :string, label: "End", input_html: { class: "datepicker", value: Time.now.strftime('%m/%d/%Y') } %>

        <div class="form-group">
          <%= f.label :number_of_guests%>
          <%= f.text_field :number_of_guests, class: 'form-control'%>
        </div>

        <p>Capacity: <%= @boat.capacity %> </p>
        <p>Pickup Location: <%= @boat.location %></p>
        <p id="ppd">Price per Day: <span id="pricee"><%= @boat.price %></span> $</p>
        <p class="total">Total price: <span id="days_calculator"></span> days * <span id="pricee"><%=@boat.price%> $</span> = <span id="totalPrice"></span> $</p>

        <div class=bb>
          <%= f.button :submit, "Book now", class: "booking_btn"%>
        </div>
        <% end %>

      </div>

    </div>
  </div>


</div>
</div>




